@import "src/assets/stylesheets/reusable";

.error {
  margin: 0 auto;
  text-align: center;

  @include centralContent;

  h1 {
    @include inter;

    color: $shadeDark;
  }

  p {
    @include inter;

    color: $shadeDark;
    font-size: 20px;
    line-height: 20px;
  }
}
