@use 'src/assets/stylesheets/media';
@import "src/assets/stylesheets/reusable";

.setting {
  color: $shadeDark;
  width: 100%;
  margin-left: 60px;
  margin-right: 20px;

  @include media.max-width(small) {
    margin-left: 20px;
  }

  div {
    @include media.max-width(medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  div:last-of-type {
    @include media.max-width(medium) {
      align-items: flex-start;

    }
  }

  h1 {
    @include title;
    margin-left: 15px;

    @include media.max-width(medium) {
      margin-left: 0;
      font-size: large;
    }
  }
}
