@import "src/assets/stylesheets/reusable";

.button {
  @include btn-style;

  &_save {
    width: 140px;
    margin-top: 70px;
  }

  &_submit,
  &_save {
    width: 100%;
    margin-top: 10px;

    @include lightShadow;

    &:hover,
    &:active {
      background-color: $lightPrimaryColor;
    }
  }

  &_save-avatar {
    width: 140px;
    margin-top: 30px;

    @include lightShadow;

    &:hover,
    &:active {
      background-color: $lightPrimaryColor;
    }
  }

  &_withArrow {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
  }
}
