@import "src/assets/stylesheets/reusable";

.form {
  width: 100%;
  max-width: 341px;
  margin: 0 auto;
  color: $shadeDark;

  h2 {
    @include title;
  }

  &_tabs {
    margin: 0 auto 60px 15px;
    text-align: right;
    max-width: 490px;
  }

  &_tabs h2 {
    text-align: left;
    margin: 0 auto 50px 0;
    font-weight: 600;
  }

  &_auth{
    @include centralContent(350px)
  }
  &_reg{
    @include centralContent(810px)
  }

}
