@import "src/assets/stylesheets/reusable";

.form {
  width: 100%;
  max-width: 341px;
  margin: 0 auto;
  color: $shadeDark;

  h2 {
    @include title;
  }

  &_tabs {
    margin: 0 auto 60px 15px;
    text-align: right;
    max-width: 490px;
  }

  &_popup {
   background-color: $shadeLigthest;
   padding: 30px;
   border-radius: 20px;
   position: relative;
  }

  &_tabs h2 {
    text-align: left;
    margin: 0 auto 50px 0;
    font-weight: 600;
  }

  &_auth {
    @include centralContent(350px);
  }

  &_reg {
    @include centralContent(810px);
  }

  &_newChat {
    width: 340px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 15px 30px 30px;
    box-sizing: border-box;
  }

  &[data-server-error="true"] input,
  textarea {
    border-color: $attantionColor;
  }

  &__error {
    display: none;
    color: $attantionColor;
  }

  &__success {
    display: none;
  }

  &[data-server-error="true"] &__error {
    display: block;
  }

  &[data-password-error="true"] &__error {
    display: block;
  }

  &[data-password-error="true"] input[type="password"] {
    border-color: red;
  }

  &[data-success="true"] &__success {
    display: block;
    color: $primary-color;
  }
}
