@use '../../assets/stylesheets/media';
@import "../../assets/stylesheets/reusable";


.tabs {
  width: 100%;
  display: flex;

   @include media.max-width(medium) {
    flex-direction: column;
  }

  div:first-child {
    border-right: 2px solid $lightPrimaryColor;
    min-height: 60vh;
    margin-right: 20px;
    margin-bottom: 60px;

    @include media.max-width(medium) {
      border-right: none;
      min-height: 80px;
      display: flex;
      margin-bottom: 0;
    }
    button {
      font-size: 16px;
    }
  }
}
