@import "src/assets/stylesheets/reusable";

.error {
  margin: 0 auto;
  text-align: center;

  @include centralContent;

  &__title {
    @include inter;

    color: $shadeDark;
  }

  &__message {
    @include inter;

    color: $shadeDark;
    font-size: 20px;
    line-height: 20px;
  }
}
