@import "../../assets/stylesheets/reusable";

.chats {
  display: block;
  width: 100%;
  display: flex;

  &__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
  }
}
