@import "src/assets/stylesheets/reusable";

.fileInput {
  width: 100%;
  max-width: 500px;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;

    &:hover+label,
    &:focus+label {
      background-color: $lightPrimaryColor;
    }
  }

  label {
    @include btn-style;

    display: block;
    position: relative;
    width: 115px;
    height: 41px;
    line-height: 1.1;
    cursor: pointer;
    transition: transform 0.2s ease-out;

    @include lightShadow;

    &:hover,
    &:active {
      background-color: $lightPrimaryColor;
    }
  }

  span:last-of-type {
    position: absolute;
    left: 150px;
    top: 0;

    @include montserrat;

    font-size: 14px;
    color: $shadeDark;
    margin: 0;
    height: 41px;
    width: 100%;
    min-width: 335px;
    max-width: 345px;
    border: 1px solid $secondaryLight;
    border-radius: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;

    &[data-style=placeholder]{
      color: $secondaryDark;
      font-weight: 400;
    }
  }

}
