@use 'src/assets/stylesheets/media';
@import "src/assets/stylesheets/reusable";

.fileInput {
  width: 100%;
  max-width: 500px;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
  }

  label {
    @include btn-style;

    display: block;
    position: relative;
    width: 115px;
    height: 41px;
    line-height: 1.1;
    cursor: pointer;
    transition: transform 0.2s ease-out;

    @include lightShadow;
  }

  span:last-of-type {
    position: absolute;
    left: 150px;
    top: 0;

    @include montserrat;

    font-size: 14px;
    color: $shadeDark;
    margin: 0;
    height: 41px;
    width: 100%;
    min-width: 335px;
    max-width: 345px;
    border: 1px solid $secondaryLight;
    border-radius: 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
  
  }

  &_clip {
    background-color: transparent;
    color: $primary-color;
    width: 40px;

    span[data-style="placeholder"] {
      display: none;
    }

    label {
      background-color: transparent;
      width: 32px;
      height: 32px;
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none;

      &:hover,
      :active {
        background-color: transparent;
      }
    }
  }

  label:hover,
  label:active {
    background-color: $lightPrimaryColor;
  }

  input:hover+label,
  input:focus+label {
    background-color: $lightPrimaryColor;
  }

  span:last-of-type[data-style="placeholder"] {
    color: $secondaryDark;
    font-weight: 400;
  }
}
