@import "src/assets/stylesheets/reusable";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 65px;
  box-sizing: border-box;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    background: rgb(0 0 0 / 45%);
    z-index: 100;
  }

  &__group {
    display: flex;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
  }

  &__name {
    @include inter;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: $shadeDark;
  }

  form {
    label {
      display: block;
    }
  }

  form[data-after-search="false"] {
    button:first-of-type {
      display: block;
    }

    button:nth-of-type(2) {
      display: none;
    }
  }

  form[data-after-search="true"] {
    label {
      display: block;
    }

    button:first-of-type {
      display: none;
    }

    button:nth-of-type(2) {
      display: block;
    }
  }
}
