@import "src/assets/stylesheets/reusable";

.chatItem {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 10px;

  &:hover{
    background-color: $ligthestPrimaryColor;
  }

  &[active="true"]{
    color: red;
    background-color:#E6F7F3;
  }

  &__title {
    @include reset-margins;
    @include subtitle;
  }

  &__avatar {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__text {
    @include reset-margins;
    @include text;
    @include ellipsis-overflow;

    height: 30px;
  }

  &__column {
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: start;
  }

  &__column:last-of-type {
    gap: 14px;
    align-items:flex-end;
  }

  &__column:first-of-type {
    margin-right: 17px;
    width: 100%;
  }

  &__time {
    font-size: 9px;
  }

  &__count {
    font-size: 11px;
    color: $lightTextColor;
    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $primary-color;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
  }
}
