@import "src/assets/stylesheets/reusable";

.search {
  position: relative;
  width: 100%;

  input {
    padding-left: 33px;
    box-sizing: border-box;
    height: 32px;
    min-height: 32px;
    border-radius: 6px;
    background-color: $shadeLigthest;
    border: none;
    width: 100%;
  }

  span {
    background-image: url("../../../static/loup.svg");
    background-size: cover;
    height: 20px;
    width: 20px;
    top: 6;
    left: 8;
    position: absolute;
    z-index: 10;
  }

  &::placeholder {
    color: $shadeLight;

    @include text;
  }
}
