.image {
  
  &_avatar {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin-right: auto;
    display: block;
    margin-left: 150px;
    margin-bottom: 50px;
  }
  &_chatItems {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
