@use 'src/assets/stylesheets/media';
@import "src/assets/stylesheets/reusable";

.link {
  color: $primary-color;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  margin-top: 14px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;

  @include inter;

  &:hover,
  &:active {
    color: $lightPrimaryColor;
  }

  &_profile {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $shadeLight;

    @include text;

    margin: 0;
    margin-right: 0;
    margin-left: auto;
  }

  &_settings {
    position: fixed;
    top: 0;
    left: 20px;
    height: 100%;
    border-right: 1px solid #d0d4d8;
    font-size: 20px;
    margin-top: 0;

    @include media.max-width(small) {
      height: 40px;
      top: 18px;
      border: none;
      width: 40px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  &_tabs {
    cursor: pointer;
    width: 220px;
    height: 44px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: $secondaryDark;

    @include media.max-width(medium) {
      width: 100%;
      justify-content: center;
      padding-left: 0;
    }

    &[active] {
      border-right: 3px solid $primary-color;
      color: $lightPrimaryColor;
      font-weight: 600;
      background-color: $ligthestPrimaryColor;

      @include media.max-width(medium) {
        border-right: none;
        border-bottom: 3px solid $primary-color;
      }
    }
  }
}
